.button{
    padding      : .8rem;
    width        : 170px;
    border-radius: 40px;
    color        : white;
    font-weight  : 600;
}

.button-started{
    @extend .button;
    background-color: var(--bright-red);
    @include media(medium){ 
        &:hover{
            opacity: .6;
        }
    }
}

.button-header{
    @extend .button-started;
    display: none;

    @include media(1095px){
          display: block;
    }
}

.button--footer{
    @extend .button-started;
    width  : 100px;
    padding: .3rem 0;
    height : 40px;
    border: 0;
}