.footer{
    background-color: var(--very-dark-blue);
    // margin:0 auto;

    &__form{
        padding: 3rem 1rem 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__about{
        
    }

}
.input__email{
    display: block;
    width: 90%;
    height:40px;
    margin-right: 1rem;
}



.footer__nav{
    display: flex;
    justify-content: space-between;    
    margin:0 3rem 3rem;
}

.nav__item{
    padding:.5rem 1rem;
}
.nav__link{
    color:white;
}


.footer__icons{
    display: flex;
    justify-content: space-between;
    padding:0 1rem;
}

.footer__images{
    width:2.5rem;
}